/* Lora Font Family - Headings */

@font-face {
  font-family: 'Lora';
  src: url('/fonts/lora/Lora-VariableFont_wght.woff2') format('woff2');
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}

/* Now Font Family - Body Text */

@font-face {
  font-family: 'Now';
  src: url('/fonts/now/Now-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Now';
  src: url('/fonts/now/Now-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Now';
  src: url('/fonts/now/Now-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Now';
  src: url('/fonts/now/Now-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Now';
  src: url('/fonts/now/Now-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Now';
  src: url('/fonts/now/Now-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
